<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container" style="text-align: center">
      <h1>Material Académico</h1>
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input
            matInput
            placeholder="Id"
            formControlName="idmaterialacademico"
            readonly
          />
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Título</mat-label>
          <input matInput placeholder="Titulo" formControlName="titulomaterial">
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="Descripción" formControlName="descripcion">
        </mat-form-field>

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>URL</mat-label>
          <input matInput placeholder="url" formControlName="urlarchivo">
        </mat-form-field>

        <br />
        <mat-form-field appearance="fill">
          <mat-label>Curso</mat-label>
          <mat-select
            formControlName="curso"
            [(value)]="idCurosSeleccionado"
            required
          >
            <mat-option *ngFor="let c of lista" [value]="c.idCurso">
              {{ c.codeCurso }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <button mat-raised-button color="primary" (click)="aceptar()">
          Aceptar
        </button>
        <button mat-raised-button color="warn" routerLink="/inicio/materialAcademico">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
