<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <div class="container">
    <div style="text-align: center;">
        <h1>Registro de Docentes</h1>
    </div>
    <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
            <mat-label>Código</mat-label>
            <input matInput placeholder="Código" formControlName="idDocente">
        </mat-form-field>
<br>
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre">
        </mat-form-field>
<br>
        <mat-form-field class="example-full-width">
            <mat-label mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" formControlName="apellidoDocente">
        </mat-form-field>
<br>
        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo" formControlName="correoDocente" type="email">
        </mat-form-field>
<br>
        <mat-form-field class="example-full-width">
          <mat-label>Clave</mat-label>
          <input matInput placeholder="Clave" formControlName="claveDocente" type="password">
        </mat-form-field>
<br>
        <mat-form-field class="example-full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Teléfono" formControlName="telefonoDocente" type="number">
        </mat-form-field>
<br>
      <div style="text-align: center;">
        <button mat-raised-button color="primary">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/docentes">Cancelar</button>
      </div>

      <p>{{mensaje}}</p>
    </form>
  </div>
</body>

</html>

