mat-form-field{
  width: 60%;
}
body {
  background-image: url(https://web-static.wrike.com/cdn-cgi/image/width=900,format=auto/blog/content/uploads/2017/04/Actividades-de-resolucio-n-de-problemas.jpg?av=3eb30ee0f9cbd746edd49a164cd1b398);
  background-size: cover;

}



