<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="form" (submit)="aceptar()">

    <mat-form-field class="example-full-width">
      <mat-label>Código Actividad</mat-label>
      <input matInput placeholder="Código de Actividad" formControlName="CodigoActividad" />
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Título" formControlName="Titulo" />
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <input matInput placeholder="Agregue una descripción" formControlName="Descripcion" />
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Publicación</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        formControlName="FechaPublicacion"
        [max]="maxFecha"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Fecha de Entrega</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        placeholder="Choose a date"
        formControlName="FechaEntrega"
        [max]="maxFecha"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>

    <button mat-button color="primary">Aceptar</button>
    <button mat-button color="warn" routerLink="/actividades">Cancelar</button>
    <br> <p>{{ mensaje }}</p>


  </form>
</body>
</html>
