/* component.css */
.mat-toolbar {
  background-color: #951fdab9; /* Color de fondo blanco para la barra de navegación */
  box-shadow: 0 1px 6px rgba(17, 16, 16, 0.1); /* Añade una sombra sutil a la barra de navegación */
}

.mat-toolbar span {
  color: #f1f7ff; /* Color de texto oscuro para el título de la aplicación */
  font-weight: 500; /* Ajusta el peso de la fuente para el título de la aplicación */
}

.spacer {
  flex: 1 1 auto; /* Asegura que los botones se alineen a la derecha de la barra de navegación */
}

button.mat-button {
  color: #222; /* Color de texto oscuro para los botones de la barra de navegación */
}

button.mat-button:hover {
  color: rgba(34, 34, 34, 0.8); /* Ajusta el color del texto al pasar el cursor sobre el botón */
  background-color: rgba(0, 0, 0, 0.05); /* Añade un efecto de realce sutil al pasar el cursor sobre el botón */
}

/* Estilos del menú */
.mat-menu-content {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil al menú */
}

.mat-menu-item {
  font-weight: 500; /* Ajusta el peso de la fuente para los elementos del menú */
}

.mat-menu-item:hover {
  background-color: rgba(163, 13, 13, 0.05); /* Ajusta el color de fondo del elemento del menú al pasar el cursor sobre él */
}
