<mat-toolbar color="primary">
  <span class="title" (click)="toggleAnimation()"
    [@titleAnimation]="isAnimated ? 'active' : 'inactive'">VirtualBody</span>
  <span class="spacer"></span>
  <!-- Menú 1 -->
  <button mat-button [matMenuTriggerFor]="menu1">Estudiante</button>
  <mat-menu #menu1="matMenu">
    <button mat-button routerLink="/estudiante-insertar">Insertar Estudiante</button>
    <button mat-button routerLink="/estudiante-listar">Listar Estudiante</button>
  </mat-menu>

  <!-- Menú 2 -->
  <button mat-button [matMenuTriggerFor]="menu2">Docente</button>
  <mat-menu #menu2="matMenu">
    <button mat-button routerLink="/docentes/docentesinsertar">Insertar Docente</button>
    <button mat-button routerLink="/docentes">Listar Docente</button>
  </mat-menu>

  <!-- Menú 3 -->
  <button mat-button [matMenuTriggerFor]="menu3">Aula</button>
  <mat-menu #menu3="matMenu">
    <button mat-button routerLink="/aula-insertar">Insertar Aula</button>
    <button mat-button routerLink="/aula-listar">Listar Aula</button>
  </mat-menu>

  <!-- Menú 4 -->
  <button mat-button [matMenuTriggerFor]="menu4">Curso</button>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item routerLink="/crear-cursos">Crear Cursos</button>
    <button mat-menu-item routerLink="/listar-cursos">Listar Cursos</button>
  </mat-menu>

  <!-- Menú 5 -->
  <button mat-button [matMenuTriggerFor]="menu5">Actividad</button>
  <mat-menu #menu5="matMenu">
    <button mat-button routerLink="/actividad-insertar">Insertar Actividad</button>
    <button mat-button routerLink="/actividad-listar">Listar Actividad</button>
  </mat-menu>
</mat-toolbar>
