<div class="container">
  <h2>Crear curso</h2>
  <form (submit)="agregarCurso()">
    <div>
      <label for="codigoCurso">Código del curso:</label>
      <input type="number" [(ngModel)]="CodigoCurso" name="codigoCurso" id="codigoCurso" required>
    </div>
    <div>
      <label for="nombreCurso">Nombre del curso:</label>
      <input type="text" [(ngModel)]="NombreCurso" name="nombreCurso" id="nombreCurso" required>
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea [(ngModel)]="Descripcion" name="descripcion" id="descripcion" required></textarea>
    </div>
    <button type="submit">Crear curso</button>
  </form>
</div>








