<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div style="text-align: center;">
      <h1>Lista de Actividades</h1>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="CodigoActividad">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.CodigoActividad}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Titulo">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let element"> {{element.Titulo}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Descripcion">
        <th mat-header-cell *matHeaderCellDef> Descripción </th>
        <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="FechaPublicacion">
        <th mat-header-cell *matHeaderCellDef> Fecha Publicacion </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaPublicacion}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="FechaEntrega">
        <th mat-header-cell *matHeaderCellDef> Fecha Entrega </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaEntrega}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</body>
</html>
