<div>
  <h2>Editar curso</h2>
  <form (submit)="guardarCambios()">
    <div>
      <label for="codigoCurso">Código del curso:</label>
      <input type="number" [(ngModel)]="curso.CodigoCurso" name="codigoCurso" id="codigoCurso" required>
    </div>
    <div>
      <label for="nombreCurso">Nombre del curso:</label>
      <input type="text" [(ngModel)]="curso.NombreCurso" name="nombreCurso" id="nombreCurso" required>
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea [(ngModel)]="curso.Descripcion" name="descripcion" id="descripcion" required></textarea>
    </div>
    <button type="submit">Guardar cambios</button>
  </form>
</div>
