<mat-nav-list class="nave-list">
  <div style="text-align: center; padding: 15px;">
    <img src="logo2.png" alt="logo" class="logo">
  </div>
  <mat-divider style="border: 2px solid"></mat-divider>
  <br>
  <mat-list-item routerLink="/inicio/docentes" class="items-menu" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
    true}">
    <mat-icon> account_box </mat-icon>
    <span>Docente</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/aula" class="items-menu" routerLinkActive="is-active">
    <mat-icon> supervisor_account </mat-icon>
    <span>Aula</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/actividades" class="items-menu"routerLinkActive="is-active">
    <mat-icon> assessment </mat-icon>
    <span>Actividades</span>
  </mat-list-item>

  <mat-list-item  routerLink="/inicio/detalleMatricula" class="items-menu"routerLinkActive="is-active">
    <mat-icon> info </mat-icon>
    <span>Detalle Matricula </span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/materialAcademico" class="items-menu"routerLinkActive="is-active">
    <mat-icon> local_library </mat-icon>
    <span>Material Academico</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/cursos" class="items-menu"routerLinkActive="is-active">
    <mat-icon> book </mat-icon>
    <span>Cursos</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/matricula" class="items-menu"routerLinkActive="is-active">
    <mat-icon> folder_copy </mat-icon>
    <span>Matricula</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/ExAs" class="items-menu"routerLinkActive="is-active">
    <mat-icon> assessment </mat-icon>
    <span>Calificaciones</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/estudiante" class="items-menu"routerLinkActive="is-active">
    <mat-icon> school </mat-icon>
    <span>Estudiantes</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/grupo" class="items-menu"routerLinkActive="is-active">
    <mat-icon> people_alt </mat-icon>
    <span>Grupos</span>
  </mat-list-item>

  <mat-list-item routerLink="/inicio/gruposxEstudiantes" class="items-menu"routerLinkActive="is-active">
    <mat-icon> group_add </mat-icon>
    <span>Unirse a Grupo</span>
  </mat-list-item>

</mat-nav-list>
