<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <div class="container">
      <div style="text-align: center;">
        <h1>Estudiantes por grupo</h1>
      </div>
      <form [formGroup]="form" (submit)="aceptar()">

      <mat-form-field class="example-full-width">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" formControlName="idGrupoxEstudiante" readonly="">
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaacceso" [max]="maxFecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Grupo</mat-label>
        <mat-select formControlName="grupo" [(value)]="idGrupoSeleccionado" required>
          <mat-option *ngFor="let g of listaGrupo" [value]="g.idGrupo">
            {{g.nombreGrupo}}
        </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Estudiante</mat-label>
        <mat-select formControlName="estudiante" [(value)]="idEstudianteSeleccionado" required>
          <mat-option *ngFor="let e of listaEstudiante" [value]="e.idEstudiante">
            {{e.nombreEstudiante}}
        </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <div style="text-align: center;">
        <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>

        <button mat-raised-button color="warn" routerLink="/grupoxEstudiante">Cancelar</button>
      </div>
      <p>{{mensaje}}</p>
      </form>
    </div>
  </div>
</body>
</html>
