<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div style="text-align: center;">
          <h1>Registro de Aulas</h1>
        </div>
        <form [formGroup]="form" (submit)="aceptar()">
          <mat-form-field>
            <input matInput placeholder="Código" formControlName="id" required=""/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Seccion" formControlName="seccionAula" required=""/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Vacante" formControlName="vacanteAula" required=""/>
          </mat-form-field>

          <ng-container matColumnDef="acciones">
            <td>
              <button mat-icon-button color="primary" type="submit">
                <mat-icon aria-label="Aceptar">check_circle</mat-icon>
              </button>
              <button mat-icon-button color="warn" routerLink="/aula" type="button">
                <mat-icon aria-label="Cancelar">cancel</mat-icon>
              </button>
            </td>
          </ng-container>

          <p>{{ mensaje }}</p>
        </form>
      </div>
</body>
</html>
