/* landing-page.component.css
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5; /* Color de fondo del encabezado
  color: white;
  font-size: 2em;
}

.container {
  text-align: center;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
  background-color: #f5f5f5; /* Color de fondo de la sección de características
}

.feature {
  flex: 1;
  padding: 1em;
}

.feature h2 {
  margin-bottom: 0.5em;
}*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Inter:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /*background-color: #f2f2f2;*/
}

.logo img {
  height: 40px;
}

.links {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.links a {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  position: relative;
  transition: color 0.3s ease;
}

.links a i {
  margin-right: 10px;
}

.links a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.links a:hover {
  color: #951fdab9;
}

.links a:hover::after {
  transform: scaleX(1);
}

.actions {
  display: flex;
  align-items: center;
}

.btn {
  padding: 8px 12px;
  background-color: #951fdab9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover {
  background-color: rgb(238, 13, 152);
}
header{
  width: 100%;
  height: 7vh;

  background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(src/app/img/fondoHome.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
#home{
  height: 100vh;
  padding-top: 30vh;
  background: linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(src/app/img/fondoHome.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.banner-text h1{
  font-family: 'Comfortaa', cursive;
  color:#fff;
  font-size: 55px;
}
.banner-text p{
  font-family: 'Comfortaa', cursive;
  color:#fff;
  font-size: 20px;
  padding:30px;
}

.btn-a{
  font-family: 'Inter', sans-serif;
  display: inline-block;
  background-color: #9900ff;
  margin-top: 30px;
  padding:15px 30px;
  color:#fff;
  border-radius: 25px;
}

.btn-a:hover{
  background-color: #6803ab;
}

#descargar{
  height: 100vh;
  padding-top: 10vh;
  text-align: center;
  align-items: center;
}
.datos_app h2{
  font-family: 'Inter', sans-serif;
  color:#9900ff;
  font-size: 55px;
}
.datos_app p{
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}
.datos_app h2,p{
  margin-top: 20px;
}
.app_stores{
  margin-top: 20px;
}
.mobiles{
  margin-top: 20px;
}
.app_store1{
  width: 200px;
  max-width: 300px;
}
.app_store2{
  width:200px;
  max-width: 300px;
}
.mobile1{
  width: 210px;
  max-width: 350px;
}
.mobile2{
  width: 210px;
  max-width: 350px;
}
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 89%;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    margin-left: 50px;
}
.pie-pagina .grupo-1 .box h3{
    font-family: 'Inter', sans-serif;
    color:#fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box a{
    font-family: 'Inter', sans-serif;
    display: inline-block;
    text-decoration: none;
    line-height: 25px;
    color:#fff;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box a:hover{
    color:#c36bfd;
}
.pie-pagina .grupo-2{
    font-family: 'Inter', sans-serif;
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

@media (min-width:886px){
  .logo{
      padding-top:10px;
      margin-left:40px;
  }
  header{
      height:7vh;
  }
  .pie-pagina .grupo-1{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 50px;
      padding: 45px 0px;
  }
  .bar-btn{
      display:none;
  }

  #home{
      padding-top: 20vh;
  }
  .banner-text h1{

      font-size: 100px;
  }
  .banner-text p{
      font-size: 30px;
  }
  .btn-a{
      font-size: 20px;
  }

  #descargar{
      padding-top:20vh;
  }
  .datos_app{
      margin-left: 50px;
  }
  .datos_app h2{
      font-size: 70px;
  }
  .datos_app p{
      font-size: 25px;
  }
  .app_container{
      display: flex;
  }
  .app_stores{
      margin-top: 100px;
  }
  .app_store1{
      width: auto;
  }
  .app_store2{
      width: auto;
  }

}
@media (min-width:1716px){
  .mobiles{
      margin-left: 100px;
  }
  .mobile1{
      width: auto;
  }
  .mobile2{
      width: auto;
  }
}
