<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div style="text-align: center">
      <h1>Lista de Docentes</h1>
    </div>

    <mat-form-field>
      <input  matInput (keyup)="filtrar($event)" placeholder="Buscar"/>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.idDocente}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre Docente </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef> Apellido Docente </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidoDocente}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo Docente </th>
        <td mat-cell *matCellDef="let element"> {{element.correoDocente}} </td>
      </ng-container>

      <ng-container matColumnDef="clave">
        <th mat-header-cell *matHeaderCellDef> Clave Docente </th>
        <td mat-cell *matCellDef="let element"> {{element.claveDocente}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Telefóno Docente </th>
        <td mat-cell *matCellDef="let element"> {{element.telefonoDocente}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" [routerLink]="['edicion',element.id]">
            <mat-icon aria-label="Editar">edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="confirmar(element.id)">
            <mat-icon aria-label="Eliminar">delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="100" [pageSizeOptions]="[3,5,10]" aria-label="Select page" showFirstLastButtons>

    </mat-paginator>

  </div>
</body>

</html>


