/* styles.css */

<<<<<<< HEAD
body {
  background-color: #e9e3f1; /* Fondo morado */
  font-family: 'Roboto', sans-serif;
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e9e3f1;
  border-radius: 8px;
}

.example-full-width {
  width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 24px;
}

.example-full-width + .example-full-width {
  margin-top: 16px;
}

.form-button {
  margin-top: 24px;
}
.form-title {
  text-align: center;
  margin-bottom: 24px;
}

.example-full-width + .example-full-width {
  margin-top: 16px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

button {
  margin-top: 16px;
}
=======
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD
>>>>>>> b5c7d8e (ultimos cambios)
=======

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD
>>>>>>> b5c7d8e (ultimos cambios)
=======
>>>>>>> 1d22189b09e92d3ecda9a0b45f50fa3afc9cf7ab
>>>>>>> 3a229d48ade690476599023d1587e67a1a0ec170
