<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container" style="text-align: center">
      <h1>Detalle Matricula</h1>
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input
            matInput
            placeholder="Id"
            formControlName="idDetalleMatricula"
            readonly
          />
        </mat-form-field>

        <br />
        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fechaInscripcion"

          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br />
        <mat-form-field appearance="fill">
          <mat-label>Matricula</mat-label>
          <mat-select
            formControlName="matricula"
            [(value)]="idMatriculaSeleccionado"
            required
          >
            <mat-option *ngFor="let m of listaMatricula" [value]="m.idMatricula">
              {{ m.idMatricula }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <mat-form-field appearance="fill">
          <mat-label>Docente</mat-label>
          <mat-select
            formControlName="docente"
            [(value)]="idDocenteSeleccionado"
            required
          >
            <mat-option *ngFor="let d of lista" [value]="d.idDocente">
              {{ d.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <mat-form-field appearance="fill">
          <mat-label>Aula</mat-label>
          <mat-select
            formControlName="aula"
            [(value)]="idAulaSeleccionado"
            required
          >
            <mat-option *ngFor="let a of listaAula" [value]="a.idAula">
              {{ a.seccionAula }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <mat-form-field appearance="fill">
          <mat-label>Curso</mat-label>
          <mat-select
            formControlName="curso"
            [(value)]="idCursoSeleccionado"
            required
          >
            <mat-option *ngFor="let c of listaCurso" [value]="c.idCurso">
              {{ c.codeCurso }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <button mat-raised-button color="primary" (click)="aceptar()">
          Aceptar
        </button>
        <button mat-raised-button color="warn" routerLink="/inicio/detalleMatricula">
          Cancelar
        </button>
        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
